.container{
	max-width: 1170px;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 0px;	
}

.header{
	min-height: 70px;
	background-color: black;
	padding-top: 15px;
}

.header ul{
	position: absolute;
	display: inline-block;
	/*border: 2px dashed red;*/
	margin: auto;
}

.header li{
	display: inline-block;
	margin-right: 20px;
	color: white;	
}

.header img{
	height: 50px;
	width: 50px;
	display: inline-block;
	float: right;
	margin: auto;
	clear: both;
}

.head-tile {
	background: url("images/mountin_sunset_downsize.jpg") no-repeat center center fixed; /*#1A679D;*/	
	background-size: cover;
	margin: auto;
	margin-bottom: 0px;	
	padding: 100px 0px;
	text-align: center;		
}

.head-tile .container{
	margin-bottom: opx;
}

.head-tile h1{
	color: white;
	margin-bottom: 80px;
	font-size: 70px;
}

.head-tile p {
	position: absolute;
	bottom: -80px;
	color: white;
}

.head-tile img:hover{
	box-shadow: 5px 5px 20px orange;
}

.main {
	text-align: center;	
}

.main .row{
	margin-top: 40px;
}

.main h1{
	color: #1A679D;
}

.main img{
	max-height: 400px;
	max-width: 200px;
}

.tile {
	min-height: 100px;
	max-width: 140px;
	border-radius: 5px;
	/*Border: 5px solid #1A679D;*/
	box-shadow: 5px 5px 15px grey;
	width: 50%;
	margin: 30px;
	padding-top: 30px;
	padding-bottom: 0px;
}

.done {
	background-color: green;
	opacity: 0.9;
}

.wip {
	background-color: #F37125;
	opacity: 0.9;
}

.section-head{
	margin-top: 40px;
	border-bottom: 4px solid #1A679D;
	text-align: left;
	color: #1A679D;
}

.demo-section{
	text-align: center;
	padding: 50px 0px;
}


.other-sites{
	text-align: center;
	padding: 50px 0px;
}


.footer {
	background-color: black;
	padding: 40px 0px;
	color: white;
}

.footer p{
	display: inline-block;
}

.footer a{
	float: right;
	display: inline-block;
}